#content h1 {
  font-size: 50px;
  line-height: 55px;
  font-weight: bold;
  margin: 20px 0;
}

#content h2 {
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  margin: 20px 0;
}

#content h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin: 20px 0;
}

#content h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  margin: 20px 0;
}

#content p {
  font-size: 16px;
  line-height: 21px;
  margin: 10px 0;
}

#content a {
  text-decoration: none;
  color: #3C0000;
}

#content a:visited {
  color: #3C0000;
}

#content a:hover {
  color: #8C0000;
}

#content img {
  margin: 25px 0;
  width: 100%;
  aspect-ratio: 1;
}

#content blockquote p {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  color: #8C0000;
  border-top: 1px solid #8C0000;
  border-bottom: 1px solid #8C0000;
  padding: 15px 10px 20px 10px;
  line-height: 25px;
  margin: 25px 0;
}

